body {
  margin: 0;
  text-align: center;
  background-color: #FFEF82;
  font-family: 'PT Sans', sans-serif;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Sacramento', cursive;
  font-size: 50px;
}

h2 {
  font-family: 'Tillana', cursive;
}

h3 {
  font-family: 'Tillana', cursive;
}

hr {
  background-color: #FFEF82;
  border-style: dotted none none;
  border-color: #82954B;
  border-width: 5px;
  width: 10%;
}

.top-container {
  /*background-color: #EFD345;*/
  position: relative;
  padding-top: 100px;
}

.cloud-bottom {
  position: absolute;
  bottom: 300px;
  left: 500px;
}

.cloud-top {
  position: absolute;
  top: 20px;
  right: 500px;
}

.profile-pic {
  border-radius: 100%;
}
