body
{
  background-color: #E3FDFD;
  font-family: "Lucida Console", "Courier New", monospace;
}

hr
{
  background-color: #E3FDFD;
  border-style: dotted none none;
  border-color: #A6E3E9;
  border-width: 5px;
  width: 10%;
}

h1 {
  color: #71C9CE;
  text-align: center;
   font-family: "Lucida Console", "Courier New", monospace;
}

h3{
  color: #71C9CE;
  text-align: center;
  font-family:  adobe-garamond-pro,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.sepia {filter: sepia(100%);
border-radius: 100%;}


.profile_pic {
  border-radius: 100%;
}
